
*{
	padding: 0;
	margin: 0 auto;
	/*outline: #f00 1px solid;*/
}

a{
	text-decoration: none;
}
.icon{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	background-image: linear-gradient(0deg, #e95a9b 0% , #fff 75%);
}
.icon img{
	display: inline-block;
	width: 80%;
	padding: 4px 2px 0 4px;
	border-radius: 50%;
	vertical-align: middle;
}








.head{
	width: 960px;
	background-color: #040d22;
}
.logo{
	display: inline-block;
	vertical-align: bottom;
	margin: 0px 0 0 20px;
	width: 13%;
}
.logo a{
	display: inline-block;
}
.logo img{
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
.mainMenu{
	margin: 10px 0 0 120px;
	display: inline-block;
	font-size: 0px;
	background-color: #040d22;
	vertical-align: top;
}
.head a{
	display: inline-block;
	color: #fff;
	font-family: "Noto Sans CJK TC";
	font-size: 12pt;
	font-weight: 300;
}
.mainMenu ul{
	display: inline-block;
	margin-right: 15px;
}
.mainMenu ul li{
	display: inline-block;
}
.mainMenu ul li:hover{
	border-bottom: #fbcc5d 2px solid;
}
.mainMenu ul li a{
	padding: 15px;
	font-size: 15pt;
	text-align: center;
	font-weight: 400;
}

.search img{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	vertical-align: middle;
	background-color: #fff;
}
.regi{
	margin:0 10px;
}






.box1{
	width: 960px;
	background-color: #040d22;
	padding: -80px;
}
.box1 h2{
	font-family: Noto Sans CJK TC;
	font-size: 40pt;
	font-weight: 400;
	letter-spacing: 45pt;
	color: rgba(255,255,255,.52);
	text-align: center;
	padding-left: 150px;
	margin-top: -30px;
}
.box1 a{
	display: inline-block;
}
.arrowL{
	position: relative;
	/*right: 0;*/
	float: left;
	margin: 150px 0 0px 40px ;
	/*transition: 0s linear ;*/
}/*
.arrowL:hover{
	right: 5px;
}*/
.arrowR{
	float: right;
	margin: 150px 40px 0 0;
}
.box1 a img{
	display: inline-block;
	vertical-align: top;
}
.box1 .content{
	position: relative;
	display: inline-block;
	width: 450px;
	margin: 50px 50px 80px 330px;
	background-color: rgba(255,255,255,.9);
	border-radius: 20px;
}
.box1 .pic{
	position: absolute;
	top: -30px;
	left: -280px;
	width: 390px;
	height: 270px;
	border-radius: 20px;
	vertical-align: top;
}
.box1 .content h4 a{
	position: absolute;
	top: -30px;
	right: 70px;
	color: #fff;
	font-family: 微軟正黑體, 新細明體;
	transition: .3s;
}
.box1 .content h4:hover a{
	color: #fbcc5d;
}
.box1 p{
	width: 300px;
	margin: 20px 20px 20px 130px;
	font-size: 12pt;
	font-family: 微軟正黑體, 新細明體;
	line-height: 22pt;
}
.box1 .readMore{
	display: block;
	width: 150px;
	color: #a74723;
	padding: 5px;
	margin: 0 20px 20px 200px;
	text-align: center;
	font-size: 13pt;
	font-family: Arial;
	letter-spacing: 1pt;
	border: rgba(0, 0, 0, .28) 2px solid;
	transition: .4s;
}
.box1 .readMore:hover{
	color: #fbcc5d;
	background-color: rgba(0,0,0,.5);
}
.box1 .circle{
	position: absolute;
	z-index: ;
	bottom: -30px;
	left:-30px;
	width: 130px;
	height: 130px;
	padding: 5px;
	background-color: #dfb565;
	border-radius: 50%;
	transition: .7s;
}
.box1 .circle:hover{
	background-color: #fbcc5d;
}
.box1 .content a{
	position: relative;
	display: block;
}
.box1 .circle .icon{
	display: block;	
	margin: 5px auto;
}
.box1 .circle a span{
	display: block;
	margin: 10px 0;
	text-align: center;
	font-family: Arial;
	color: #2c010a;
}
.box1 .circle a .name{
	font-size: 14pt;
	margin-top: 10px;
}
.box1 .circle a .date{
	font-size: 12pt;
}




.box2{
	position: relative;
	width: 760px;	
	background-color: #040d22;
	padding: 50px 100px 70px 100px;
}
.box2 .pic{
	display: inline-block;
}
.box2 .pic img{
	vertical-align: top;
}
.projector{
	position: absolute;
	top: 10px;
	left: 30px;
}
.select{
	position: relative;
	background-color: rgba(255,255,255,.2);
	padding: 25px 15px;
	margin: 20px 0 0;
	text-align: center;
	font-family: Noto Sans CJK TC;
}
.select:before{
	content: '';
	position: absolute;
	bottom: 15px;
	left: 40px;
	width: 520px;
	height: 3px;
	background-color: #dfb565;
}
.select > select{
	display: inline-block;
	border: none;
	background-color: rgba(255,255,255,0);
	color: #fff;
	font-size: 14pt;
	padding: 0px 5px 10px 5px;
	text-align: center;
}
.select >select >option{
	color: #000;
}
.select #name{
	width: 110px;
}
.select #number{
	width: 70px;
}
.box2 .btn{
	display: inline-block;
	width: 150px;
	text-align: bottom;
	margin-left: 15px;
}
.box2 .btn a{	
	color: #fff;
	border: 2px #fff solid;
	padding: 2px 10px;
	margin-left: 15px;
	background-color: #040d22;
}
.box2 .btn:hover a{
	border: #fbcc5d 2px solid;
}




.box3{
	width: 960px;
	background-color: rgba(56,51,80,.50);
}
.box3 .contentL{
	float: left;
	width: 320px;
	margin: 40px 10px 40px 30px;
	background-color: #000;
}
.box3 .contentL div{
	margin: 30px;
	padding: 30px;
	background-color: rgba(255,255,255,.34);
	border: 2px solid rgba(255,255,255,.53);
	font-weight: medium;
}
.box3 .contentL div span{
	display: inline-block;
	color: #fff;
	font-family: Noto Sans CJK TC;
}
.box3 .contentL .word1{
	position: relative;
	margin: 30px 30px 40px 0;
	font-size: 40pt;
	letter-spacing: 3pt;
}
.box3 .contentL .word1:after{
	position: absolute;
	content: "+";
	display: inline-block;
	font-size: 30pt;
	color: #fff;
}
.box3 .contentL .word2{
	position: relative;
	margin: 30px 20px 40px 0;
	font-size: 30pt;
}
.box3 .contentL .word2:after{
	position: absolute;
	bottom: 0px;
	right: -35px;
	content: '人';
	display: inline-block;
	font-size: 20pt;
}
.box3 .contentL .word3{
	display: block;
	margin: 40px 0;
	text-align: center;
	font-size: 20pt;
	font-weight: 400;
}
.box3 .contentR{
	display: inline-block;
	width: 540px;
	margin: 40px 0px 40px 20px;
	background-color: #000;
	font-size: 0;
}
.box3 .contentR .yellow{
	width: 100%;
	padding: 40px 0;
	background-color: #dbaf5b;
}
.box3 .contentR .item{
	float: left;
	width: 30%;
	margin: -40px 0px 25px 13.5px ;
	font-size: 14px;
}
.box3 .contentR .pic{
	position: relative;
	width: 100%;
	height: 230px;
}
.box3 .contentR .pic a img{
	width: 100%;
	vertical-align: top;
}
.box3 .contentR .pic:hover:before{
	position: absolute;
	content: '龍蝦';
	display: block;
	width: 100%;
	height: 70px;
	padding: 80px 0;
	background-color: rgba(0,0,0,.6);
	color: #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 16pt;
	font-family: 微軟正黑體, 新細明體;
}
.box3 .contentR .item .arti{
	background-color: rgba(255,255,255,.3);
}
.box3 .icon{
	display: inline-block;
	margin: 5px 0 0 5px;	
}
.box3 .contentR span{
	display: inline-block;
	margin-left: 5px;
	color: #fff;
	font-size: 12pt;
	font-family: 微軟正黑體, 新細明體;
}
.box3 .contentR .name{
	font-size: 14pt;
	vertical-align: top;
	padding: 15px 0 0 0px;
	font-family: Arial;
}
.box3 .contentR .name:hover{
	color: #fbcc5d;
}
.box3 .contentR .word{
	padding-left: 10px;
}
.box3 .contentR .num{
	color: #dbaf5b;
}
.box3 .contentR h2{
	display: inline-block;
	width: 200px;
	color: rgba(255,255,255,0.61);
}









.blue1{
	width: 960px;
	background-color: #040d22;
}
.blue1 h2{
	padding: 30px 0 0 0;
	color: #fff;
	text-align: center;
	font-family: Noto Sans CJK TC;
	font-weight: 400;
}
.white1{
	position: relative;
	width: 960px;
	background-color: #040d22;
	background-image: url("white1.png");
}

.white1 .watchAlone{
	display: inline-block;
	padding: 100px 0px 0 220px;
	vertical-align: bottom;
}
.white1 h4{
	position: absolute;
	top: 80px;
	right: 0px;
	display: inline-block;
	width: 300px;
	font-size: 13pt;
	font-family: Noto Sans CJK TC;
	font-weight: 500;
}
.white1 h4 span{
	display: inline-block;
	margin: 30px 0px 0 15px;
	line-height: 1.5;
}




.blue2{
	width: 960px;
	padding: 100px 0;
	/*margin: 0 0 -20px 0;*/
	background-color: #040d22;
	background-image: url("flim1.png");
	background-repeat: no-repeat;
	background-position: 180px 0;
	transform: skewY(-2deg);
}/*
.white2-1{
	width: 960px;
	background-image: url("white2-1.png");
	padding: 50px 0;
	background-color: #040d22;
}*/
.white2{
	position: relative;
	z-index: -1;
	width: 960px;
	margin-top: -25px;
	background-image: url("white2-2.png");
	/*background-color: #040d22;*/
	background-repeat: no-repeat;
}
.white2 .circle{
	position: relative;
	display: inline-block;
	width: 350px;
	height: 350px;
	margin: 50px 0 0px 60px;
	border-radius: 50%;
	background-color: #040d22;
}
.white2 .circle:before{
	position: absolute;
	top: 40px;
	left: 60px;
	content: '+發揪帖';
	display: inline-block;
	padding: 3px 5px;
	color: #fff;
	border: solid 2px #c87417;
	background-color: #040d22;
	font-size: 14pt;
}
.white2 .circle img{
	display: inline-block;
	margin: 60px 110px;
}

.white2 h4{
	position: absolute;
	top: 200px;
	right: 100px;
	display: inline-block;
	font-family: Noto Sans CJK TC;
	font-size: 14pt;
	font-weight: 500;
}
.white2 h4 .word1{
	display: inline-block;
	margin-bottom: 15px;
	font-size: 18pt;
}
.white2 h4 .word2{
	margin-left: 40px;
}





.blue3{	
	width: 960px;
	padding: 150px 0;
	margin-top: -40px;
	background-color: #040d22;
	background-image: url("flim2.png");
	background-repeat: no-repeat;
	background-position: 540px 0;
	transform: skewY(3deg);
}
.white3{
	position: relative;
	width: 960px;
	margin-top: -80px;
	background-image: url("white3.png");
	/*background-color: #040d22;*/
	background-repeat: no-repeat;
}
.white3 h4{
	position: absolute;
	top: 180px;
	left: 50px;
	display: inline-block;
	font-family: Noto Sans CJK TC;
	font-size: 14pt;
	font-weight: 500;
}
.white3 h4 .word2{
	font-size: 18pt;	
}
.white3 .pic{
	display: inline-block;
	margin: 80px 20px 95px 480px;
}
.white3 .pic img{
	vertical-align: middle;
}







.blue4{
	width: 960px;
	padding: 150px 0;
	margin-top: -40px;
	background-color: #040d22;
	background-image: url("flim3.png");
	background-repeat: no-repeat;
	background-position: 250px 0;
	transform: skewY(-4deg);
}
.white4{
	position: relative;
	width: 960px;
	margin-top: -50px;
	background-image: url("white4.png");
	/*background-color: #040d22;*/
	background-repeat: no-repeat;
}
.white4 .pic{
	display: inline-block;
	margin: 100px 0 70px 80px;
}
.white4 .pic img{
	vertical-align: top;
	box-shadow: -40px -40px 0px 0px #000;
}
.white4 h4{
	position: absolute;
	top: 150px;
	right: 10px;
	display: inline-block;	
	font-family: Noto Sans CJK TC;
	font-size: 14pt;
	font-weight: 500;
	line-height: 2;
}
.white4 h4 .word2{
	margin-left: 30px;
}
.white4 h4 .word3{
	font-size: 18pt;
}





.blue5{	
	width: 600px;
	padding: 0 0 0 360px;
	margin-bottom: -70px;
	background-color: #040d22;
	/*background-image: url("flim4.png");*/
	/*background-repeat: no-repeat;*/
	/*background-position: 180px 0;*/
	transform: skewY(-5deg);
}
.blue5 div{
	transform: skewY(-1deg);
}
.white5{
	position: relative;
	width: 960px;
	background-image: url("white5.png");
	/*background-color: #040d22;*/
	background-repeat: no-repeat;
	
}
.white5 h4{
	position: absolute;
	top: 200px;
	left: 80px;
	display: inline-block;	
	font-family: Noto Sans CJK TC;
	font-size: 14pt;
	font-weight: 500;	
}
.white5 h4 .word2{
	font-size: 18pt;
}
.white5 .circle{
	display: inline-block;
	width: 300px;
	height: 300px;
	margin: 0px 0 0px 600px;
	border-radius: 50%;
	background-color: #040d22;
}
.white5 .circle img{
	display: inline-block;
	margin: 40px 0px 0 -50px ;
}


.sharie{
	width: 960px;
	background-color: #040d22;
	text-align: center;
	padding-bottom: 300px;
	padding-top: 100px;
}
.sharie h1{
	display: inline-block;
	width: 300px;
	text-align: center;
}
.sharie h1 a{
	color: #fff;
	font-size: 20pt;
	font-weight: 400;
	font-family: Noto Sans CJK TC;
	border: 2px #fff solid;
	padding: 5px 35px;
}
.sharie h1:hover a{
	color: #000;
	background-color: #fff;
}



.footer{
	width: 960px;
	background-color: rgba(16,27,60,.8);
	font-size: 13pt;
	color: #fff;
	text-align: center;
}
.footer div a{
	color: #fff;
}


/*
.backTop{
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #dbaf5b;
}*/